* {
  font-family: 'Lexend', sans-serif;
}

body {
  font-family: 'Lexend', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend', sans-serif;
}

input, button, select, textarea {
  font-family: 'Lexend', sans-serif;
}
